/* Regular Elements */

h1 {
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    margin-top: 50px;
}

h2 {
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    margin-top: 65px;
}

a {
    text-decoration: none;
}

input {
    border: 2px solid #AAAAAA;
    box-sizing: border-box;
}

/* Navigation Bar */

nav {
    text-align: left;
    width: 90%;
    margin: auto;
    padding: 10px;
}

.nav-right {
    float: right;
}

.nav-dropdown {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;

    position: absolute;
    width: 163px;
    height: max-content;
    left: 1702px;
    top: 80px;

    background: #FFFFFF;

    border: 2px solid #AAAAAA;
    box-sizing: border-box;
    border-radius: 4px;
}

.nav-vertical {
    list-style-type: none;
    width: 316px;
}

.nav-vertical-item {
    padding: 8px 16px;
    display: block;
}

/* User Components */

a.btn-primary {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;

    background-color: #074EE8;
    color: aliceblue;

    padding: 5px 20px 5px 20px;

    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;

    margin-left: 20px;
}

.index-topic-card {
    border: 1px solid #AAAAAA;
    width: 185px;
    height: 77px;
    margin: 50px;
    text-align: center;
    vertical-align: middle;
    color: black;

    /* same as height for vertically centering text */
    line-height: 77px;
}

/* Admin Components */

.edit-topic-card {
    width: 50%;
    height: 85px;
    border: 2px solid #AAAAAA;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 46px;
}

.edit-topic-card input {
    margin-top: 26px;
    margin-bottom: 26px;
    margin-left: 23px;
    height: 33px;
}

.edit-topic-plus {
    height: 85px;
    width: 85px;
    border: 2px solid #AAAAAA;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
    padding-top: 18px;
}
